<% if request.env['PATH_INFO'] != "/users/#{current_user.id}/recipes" %>
  <form>
    <%= select("ingredient", "name", Ingredient.all.collect(&:name), include_blank: 'Select an ingredient to filter') %>
    <input type="submit" value="Filter" />
  </form>
<% end %>

<% if @recipes.empty? %>
  <h3>No matching recipes found!</h3>
<% else %>
  <ul>
    <% @recipes.each do |recipe| %>
      <li>
        <%= render 'recipe', :recipe => recipe %>
      </li>
    <% end %>
  </ul><br />
<% end %>
